<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página Inicial</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">
    <h2>Bem-vindo ao My Messaging App</h2>
    <div class="form-group">
      <a href="/login"><button>Login</button></a>
    </div>
    <div class="form-group">
      <a href="/register"><button>Registrar</button></a>
    </div>
  </div>
</body>
</html>
